<div class="bg-gray-200 flex flex-col text-center p-8 min-h-[100svh]">
    <div class="mb-4">
        <img class="mx-auto rounded-full" ngSrc="assets/christophe.png" alt="Profile Picture" height="200" width="200">
    </div>
    <div class="text-4xl font-bold mb-4">
      {{ name() }}
    </div>
    <div class="text-xl mb-4">
      {{  title() }}
    </div>
    <div class="text-gray-700 text-md mb-8 mx-6">
      {{ intro() }}
    </div>

    <div class="flex flex-row mb-4 justify-center space-x-4">
      <button mat-flat-button [color]="rle.isActive ? 'accent' : 'primary'" routerLink="experiences" routerLinkActive #rle="routerLinkActive">{{ experience() }}</button>
      <button mat-flat-button color="primary" >{{ diplomas() }}</button>
    </div>

    <div>
      <router-outlet/>
    </div>

    <div>
    </div>
</div>
<div class="fixed top-4 right-4">
  @if (currentLanguage() === 'english') {
    <button mat-flat-button color="primary" (click)="currentLanguage.set('french')">Français</button>
  } @else if(currentLanguage() === 'french') {
    <button mat-flat-button color="primary" (click)="currentLanguage.set('english')">English</button>
  }
</div>
