<mat-drawer-container>
  <mat-drawer
    #drawer="matDrawer"
    mode="side"
    [(opened)]="opened"
    role="navigation"
    aria-label="Menu de navigation"
    class="w-full sm:w-auto"
  >
    <div class="p-4">
      <button mat-flat-button color="primary" (click)="drawer.close()" aria-label="Fermer le menu">
        {{ appTranslation().menu.close }}
      </button>
    </div>
    <mat-nav-list role="list">
      <a
        mat-list-item
        routerLink="experiences"
        routerLinkActive
        #rle="routerLinkActive"
        [activated]="rle.isActive"
        (click)="drawer.close()"
        role="listitem"
        aria-label="Aller à la page Expériences"
      >
        {{ appTranslation().experiences }}
      </a>
      <a
        mat-list-item
        routerLink="education"
        routerLinkActive
        #rledu="routerLinkActive"
        [activated]="rledu.isActive"
        (click)="drawer.close()"
        role="listitem"
        aria-label="Aller à la page Études"
      >
        {{ appTranslation().education }}
      </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div class="bg-gray-200 flex flex-col text-center p-8 min-h-[100svh] overflow-x-hidden">
      <div class="mb-4">
        <img
          class="mx-auto rounded-full rythm-bass"
          ngSrc="assets/christophe.jpg"
          alt="Portrait de Christophe Domergue"
          height="200"
          width="200"
          [priority]="true"
        />
      </div>
      <div class="text-4xl font-bold mb-4 rythm-medium">
        {{ appTranslation().name }}
      </div>
      <div class="text-xl mb-4 rythm-high">
        {{ appTranslation().title }}
      </div>
      <div class="text-gray-700 text-md mb-8 mx-6 flex justify-center text-justify">
        <p class="whitespace-pre-line max-w-[800px]">{{ appTranslation().intro }}</p>
      </div>

      <div>
        <router-outlet />
      </div>

      <div></div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

<div *ngIf="!opened" class="fixed top-4 left-4 z-10">
  <button mat-flat-button color="primary" (click)="drawer.open()" aria-label="Ouvrir le menu">
    {{ appTranslation().menu.open }}
  </button>
</div>

<div class="fixed top-4 right-4 z-10 space-x-4">
  <button
    *ngIf="currentLanguage() === 'english'"
    mat-flat-button
    color="primary"
    (click)="currentLanguage.set('french')"
  >
    Français
  </button>
  <button
    *ngIf="currentLanguage() !== 'english'"
    mat-flat-button
    color="primary"
    (click)="currentLanguage.set('english')"
  >
    English
  </button>
</div>
